body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_ann {
  position:absolute;
  left:1017px;
  top:-4px;
  width:1px;
  height:1px;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u2 {
  position:absolute;
  left:121px;
  top:430px;
  width:170px;
  height:170px;
  font-size:48px;
}
#u3 {
  position:absolute;
  left:2px;
  top:30px;
  width:166px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
}
#u4 {
  position:absolute;
  left:56px;
  top:56px;
  width:300px;
  height:82px;
  font-size:72px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  white-space:nowrap;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u6 {
  position:absolute;
  left:440px;
  top:128px;
  width:221px;
  height:100px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u8 {
  position:absolute;
  left:655px;
  top:430px;
  width:140px;
  height:40px;
  font-size:36px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-1px;
  width:136px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u10 {
  position:absolute;
  left:655px;
  top:506px;
  width:140px;
  height:40px;
  font-size:36px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-1px;
  width:136px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u12 {
  position:absolute;
  left:297px;
  top:348px;
  width:348px;
  height:109px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u14 {
  position:absolute;
  left:685px;
  top:137px;
  width:81px;
  height:82px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:400px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:1200px;
  top:0px;
  width:300px;
  height:400px;
}
#u17 {
  position:absolute;
  left:2px;
  top:192px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_ann {
  position:absolute;
  left:1493px;
  top:-4px;
  width:1px;
  height:1px;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:400px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:1200px;
  top:430px;
  width:300px;
  height:400px;
}
#u19 {
  position:absolute;
  left:2px;
  top:192px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_ann {
  position:absolute;
  left:1493px;
  top:426px;
  width:1px;
  height:1px;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:1230px;
  top:114px;
  width:240px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:18px;
  width:236px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  position:absolute;
  left:1280px;
  top:203px;
  width:140px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  position:absolute;
  left:1230px;
  top:566px;
  width:240px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:18px;
  width:236px;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:1280px;
  top:655px;
  width:140px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:400px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:1600px;
  top:0px;
  width:300px;
  height:400px;
}
#u29 {
  position:absolute;
  left:2px;
  top:192px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_ann {
  position:absolute;
  left:1893px;
  top:-4px;
  width:1px;
  height:1px;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  position:absolute;
  left:1617px;
  top:114px;
  width:128px;
  height:128px;
}
#u31 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:102px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u32 {
  position:absolute;
  left:1630px;
  top:127px;
  width:102px;
  height:102px;
  font-size:36px;
}
#u33 {
  position:absolute;
  left:2px;
  top:30px;
  width:98px;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  position:absolute;
  left:1755px;
  top:114px;
  width:128px;
  height:128px;
}
#u35 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:102px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u36 {
  position:absolute;
  left:1768px;
  top:127px;
  width:102px;
  height:102px;
  font-size:36px;
}
#u37 {
  position:absolute;
  left:2px;
  top:30px;
  width:98px;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  position:absolute;
  left:1617px;
  top:252px;
  width:128px;
  height:128px;
}
#u39 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:102px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u40 {
  position:absolute;
  left:1630px;
  top:265px;
  width:102px;
  height:102px;
  font-size:36px;
}
#u41 {
  position:absolute;
  left:2px;
  top:30px;
  width:98px;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:1755px;
  top:252px;
  width:128px;
  height:128px;
}
#u43 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:102px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u44 {
  position:absolute;
  left:1768px;
  top:265px;
  width:102px;
  height:102px;
  font-size:36px;
}
#u45 {
  position:absolute;
  left:2px;
  top:30px;
  width:98px;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u46 {
  position:absolute;
  left:1629px;
  top:29px;
  width:209px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
